@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';
@import '../../../node_modules/bootswatch/dist/journal/bootstrap.min.css';

:root {
    --block-gradient: linear-gradient(to bottom right, #eae6e6, #fcf4f1);
    --bg-color: aliceblue;
    --border-color: #c2c1c1;
}

body {
    background-color: var(--bg-color);
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e8f0f6;
}

::-webkit-scrollbar-thumb {
    background: #97979d;
}

::-webkit-scrollbar-thumb:hover {
    background: #727277;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
}

.dropdown-item {
    border-radius: 6px;
}

.cursor-pointer {
    cursor: pointer;
}

/*
===========================================================
    Scroll Arrow
===========================================================

*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--bs-primary);
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
    cursor: pointer;
}
#return-to-top:hover {
    background-color: #e17d79;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/*
===========================================================
    Navbar
===========================================================

*/
.navbar-nav {
    margin-left: 40%;
}

.nav-icons {
    position: relative;
    margin-left: auto;
}

.nav-icon {
    background-color: transparent;
    border: none;
    font-size: 2.2em;
    padding: 0 0.4em;
}

#profileDropdown .dropdown-btn {
    background-color: transparent;
    border: none;
}

.nav-icons p {
    font-size: 0.8em;
    position: absolute;
    left: 3.1em;
    top: 0.42em;
    padding: 0 7px;
    background-color: #c5b7b7;
    border-radius: 50%;
    user-select: none;
}

.nav-icon a {
    color: inherit;
}

#profileDropdown ul {
    margin-left: -4em;
}

.dropdown-item a {
    color: var(--bs-dropdown-link-color);
}

/*
===========================================================
    Modal
===========================================================

*/

.modal-body p.text-danger {
    font-size: 0.8em;
    margin-left: 0.6em;
    display: none;
}

.modal-body h2.text-danger {
    display: none;
}

.modal-body label,
.modal-body button {
    margin-top: 1em;
}



/*
===========================================================
    Welcome Page
===========================================================

*/
.welcome-block {
    height: 500px;
    position: relative;
    overflow: hidden;
    background: var(--block-gradient);
}

.welcome-block img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.welcome-block .img-right {
    right: 0;
}

.welcome-block .img-left {
    left: 0;
}

.welcome-block h1 {
    font-size: 3em;
    color: #e1685f;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
}

.welcome-block h1 {
    font-size: 3em;
    color: #e1685f;
    position: absolute;
}

.welcome-block h1.text-left {
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.welcome-block h1.text-right {
    top: 40%;
    right: 45%;
    transform: translate(150%, 50%);
}

.welcome-block h2 {
    font-size: 2em;
    color: #e1685f;
    position: absolute;
}

.welcome-block h2.text-left {
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.welcome-block h2.text-right {
    right: 45%;
    top: 53%;
    transform: translate(150%, 50%);
}
@media screen and (max-width: 1210px) {
    .welcome-block h1.text-right {
        right: 55%;
    }
    .welcome-block h2.text-right {
        right: 55%;
    }
}

@media screen and (max-width: 950px) {
    .welcome-block {
        height: 480px;
    }
    .welcome-block h1.text-left {
        font-size: 2.5em;
    }

    .welcome-block h2.text-left {
        font-size: 1.7em;
        top: 48%;
    }

    .welcome-block h1.text-right {
        font-size: 2.5em;
        right: 60%;
    }

    .welcome-block h2.text-right {
        font-size: 1.7em;
        top: 51%;
        right: 61%;
    }
}

@media screen and (max-width: 840px) {
    .welcome-block {
        height: 450px;
    }

    .welcome-block h1.text-left {
        font-size: 2.2em;
    }

    .welcome-block h2.text-left {
        font-size: 1.5em;
        top: 47%;
    }
    .welcome-block h1.text-right {
        font-size: 2.2em;
    }

    .welcome-block h2.text-right {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 700px) {
    .welcome-block {
        height: 400px;
    }
}

@media screen and (max-width: 630px) {
    .welcome-block {
        height: 390px;
    }

    .welcome-block h1.text-left,
    .welcome-block h1.text-right {
        font-size: 1.8em;
    }

    .welcome-block h2.text-right {
        font-size: 1.2em;
    }
}

/*
===========================================================
    Store
===========================================================
*/

#genres,
#authors {
    font-size: 0.85em;
    max-height: 240px;
    width: 200px;
    overflow: auto;
}

#genres::-webkit-scrollbar,
#authors::-webkit-scrollbar {
    width: 5px;
}

#genres::-webkit-scrollbar-thumb,
#authors::-webkit-scrollbar-thumb {
    border-radius: 15px;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-menu {
    padding: 0;
}

.container h1 {
    text-align: center;
    margin: 0.8em 0;
    font-size: 2.5em;
}

.store-h4 {
    cursor: pointer;
    margin-left: 0.1em;
    font-size: 1.3em;
}

#authorsButton {
    padding-left: 0.3em;
}

#resultsFound {
    font-size: 1.2em;
}

#storeProducts .card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card-img-container img {
    cursor: pointer;
    height: 300px;
    width: 200px;
    object-fit: cover;
    margin-bottom: 3px;
}

.card {
    padding: 4px;
    width: 208px;
    background-color: #fffefe;
    margin-bottom: 0.6em;
}

.card-body {
    padding: 2px;
}

#storeProducts .btn-group button {
    padding: 2px;
}


.card-name {
    font-size: 0.95em;
    color: #6b6b72;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    margin-bottom: 0.3em;
}

.card-price {
    margin-bottom: 0.3em;
}

#storeContainer {
    max-width: 1200px;
    margin: 0 auto;
}

.dropdown-menu.collapsing#genres,
.dropdown-menu.collapsing#authors,
.dropdown-menu.collapsing#sortKinds,
.dropdown-menu.collapsing#chartTypes {
    transition: none;
}

#storeProducts .card-img-container:hover img {
    transition: 0.3s;
    opacity: 50%;
    filter: blur(1px);
}

#storeProducts .card-img-container:hover .rating-text {
    visibility: visible;
}

#storeProducts .rating-text {
    position: absolute;
    visibility: hidden;
    text-align: center;
    font-size: 2.4em;
    color: #3a3a3d;
    user-select: none;
    cursor: pointer;
}

#addNewBook {
    color: var(--bs-primary);
    background-color: transparent;
    font-size: 11em;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

#addNewBook:hover {
    color: #e17d79;
    background-color: #f6e0e0;
}

@media screen and (max-width: 1068px) {
    .card {
        padding: 4px;
        width: 200px;
        background-color: #fffefe;
        margin-bottom: 0.6em;
    }
}

@media screen and (max-width: 992px) {
    .container h1 {
        font-size: 2.2em;
    }

    .store-h4 {
        font-size: 1.1em;
    }
    #resultsFound {
        font-size: 1em;
    }

    #storeProducts .rating-text {
        font-size: 2.1em;
    }
}

/*
===========================================================
    News
===========================================================
*/

.news-item {
    cursor: pointer;
}
#newsBtn {
    color: black;
    text-decoration: none;
}

.news-btn:hover {
    color: var(--bs-primary);
}

.card-news {
    width: 100%;
}

/*
===========================================================
    Basket
===========================================================
*/
.basket-table {
    width: 90%;
    background: var(--block-gradient);
}

.basket-table thead {
    height: 3em;
    font-size: 1.1em;
    border-bottom: 1px solid var(--border-color);
}

.basket-table tbody tr {
    border-bottom: 1px solid var(--border-color);
}

.basket-table tbody tr:last-child {
    border-bottom: none;
}

.basket-table tfoot {
    border-top: 1px solid var(--border-color);
}

.basket-table thead th {
    width: 14%;
}
.basket-table thead th:first-child {
    width: 58%;
}

.basket-table thead th,
.basket-table tbody th,
.basket-table tbody td {
    border-right: 1px solid var(--border-color);
    text-align: center;
}

.basket-table thead th:last-child,
.basket-table tbody th:last-child,
.basket-table tbody td:last-child {
    border-right: none;
}

.basket-row-header {
    display: flex;
    align-items: center;
}
.basket-row-header img {
    margin: 0.6em 0 0.6em 2em;
    height: 18em;
    width: 12em;
    object-fit: cover;
}
.basket-row-header p {
    margin: auto 0 auto auto;
}

.basket-row-header i.bi-trash {
    color: #6b6b72;
    margin-top: 0.2em;
    margin-left: 0.6em;
    margin-right: auto;
    cursor: pointer;
}

.basket-row-header i.bi-trash:hover {
    color: #da5656;
}

#basketItemsCount {
    visibility: hidden;
}

#basketTbody {
    font-size: 1.1em;
}

.basket-table tfoot {
    font-size: 1.2em;
}

#basketTbody .bi-dash,
#basketTbody .bi-plus {
    background-color: #eed1d0;
    margin: 0 0.7em;
    padding: 0.1em 0.25em;
    border-radius: 50%;
    cursor: pointer;
}

#basketTbody .bi-dash:hover,
#basketTbody .bi-plus:hover {
    background-color: #e3d0ce;

}

.basket-purchase {
    margin-top: 1em;
    width: 90%;
}

.basket-purchase button {
    width: 20%;
}

@media screen and (max-width: 1200px) {
    #basketTbody {
        font-size: 1em;
    }
}

@media screen and (max-width: 992px) {
    #basketTbody {
        font-size: 0.9em;
    }

    #basketTbody .bi-dash,
    #basketTbody .bi-plus {
        margin: 0 0.3em;
        padding: 0.1em 0.25em;
    }

    .basket-table {
        width: 100%;
    }

    .basket-table tfoot {
        font-size: 1.05em;
    }
}

@media screen and (max-width: 768px) {
    .basket-table thead {
        height: 2.5em;
        font-size: 0.9em;
    }
    .basket-row-header img {
        margin: 0.4em 0 0.4em 1em;
        height: 14em;
        width: 9em;
        object-fit: cover;
    }
    .basket-table thead th {
        width: 18%;
    }
    .basket-table thead th:first-child {
        width: 46%;
    }
    .basket-row-header p {
        font-size: 0.9em;
    }

    .basket-table tfoot {
        font-size: 0.95em;
    }
}
@media screen and (max-width: 475px) {
    .basket-table thead {
        height: 2.5em;
        font-size: 0.9em;
    }
    .basket-row-header img {
        margin: 0.4em 0 0.4em 1em;
        height: 12em;
        width: 7em;
        object-fit: cover;
    }
    .basket-table thead {
        height: 2.5em;
        font-size: 0.8em;
    }
    .basket-row-header p {
        font-size: 0.8em;
    }

    #basketTbody {
        font-size: 0.8em;
    }

    .basket-table tfoot {
        font-size: 0.85em;
    }
}

/*
===========================================================
    Profile
===========================================================
*/

#profileUl {
    list-style: none;
    text-align: center;
    width: 20em;
}

#profileUl li:first-child img {
    margin: -1em;
    height: 10em;
}

#profileUl li {
    border: 1px solid var(--border-color);
    padding: 0.6em 0;
}

#chartType {
    background-color: transparent;
    border: none;
}